<p style="color: green"><%= notice %></p>

<h1>Entities</h1>
<div>
    <div><%= link_to "<", groups_path%></div>
    <h3>All Transaction for <%= @group.name%></h3>
    <p><%= button_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-success btn-block btn-lg" %></p>
</div>
<p>Total: $<%= group.total_amount %></p>

<div id="entities">
  <% @entities.each do |entity| %>
    <p><%= entity.name%></p>
    <p><%= entity.amount%></p>
  <% end %>
</div>

<%= link_to "Add New Transaction", new_group_entity_path(@group) %>
