

<div>
<h1>Create a new transaction</h1>
<%= form_with model: @entity, url: group_entites_path(@group) do |f |%>
  <%= f.hidden_field :user_id, value: current_user_id %>
  <%= f.text_field :name, placeholder: 'Name of Transaction' %>
  <%= f.number_field :amount, placeholder: 'Amount' %>
  <p>Select Category</p>
  <%= f.select :group_id, @group.map { |group| [group.name, group_id]},{},{class: 'form-select'} %>
  <%= f.submit "Create Transaction" %>
  <%end%>
</div>
