
<section class="vh-100 bg-image"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-center mb-5">Create a new transaction</h2>


              <%= form_with model: @entity, url: group_entities_path(@group) do |f| %>
                <%= f.hidden_field :user_id, value: current_user.id %>

                <div class="form-outline mb-4">
                  <%= f.text_field :name, placeholder: "Name of transaction", class: "form-control form-control-lg" %>
                </div>

                <div class="form-outline mb-4">
                  <%= f.number_field :amount, placeholder: "Amount", class: "form-control form-control-lg" %>
                  <%# <%= f.collection_select 'id', @groups, :id, :name, {}, {} %> 

                </div>

              

                <div class="d-flex justify-content-center">
                  <%= f.submit "Create Transaction", class: "btn btn-success btn-block btn-lg gradient-custom-4 text-body" %>
                </div>

              <% end %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>