<p style="color: green"><%= notice %></p>

<div>
  <h1>Categories</h1>

  <div id="groups">
    <% @groups.each do |group| %>
    <%= render group %>
      <div class='group-card'>
        <div class='group-name'><%= image_tag group.icon, height: 50%></div>
          <div class='name-total'>
            <p class='group--name'><%= group.name%></p>
            <p class='group--name'><%= 'Total goes here!'%></p>
          </div>
        </div>
        <p class='group--link'><%= link_to "See Transactions", group%></p>
        <% end %>
  </div>

  <p class='newgroup--link'><%= link_to "Add New Category", new_group_path%></p>
  <%= button_to 'Log Out', destroy_user_session_path, method: :delete%>
</div>

