<h1>Add New Category</h1>


<div>
<h1>Create a new Category</h1>
<%= form_with model: @group,url: "/group" do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.text_field :name, placeholder: 'Category name' %>
  <%= f.text_field :icon, placeholder: 'icon' %>
  <%= f.submit "Create recipe" %>
  <%end%>
</div>
